body{
    background-color:  hsl(212, 45%, 89%);
    height: 800px;
}
.a{
    height: 29rem;
    width: 19rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
    margin-top: 9rem;
    justify-content: center;
    display:block;
}
.b{
    height: 12rem;
    width: 19rem;
    border-radius: 10%;
    position: absolute;
    margin-top: 1rem;
    margin-left: 1px;
}
.c{
color: hsl(218, 44%, 22%);
font-family: sans-serif;
margin-top: 17rem;
font-weight: 700;
position:absolute;
margin-left: 2rem;
}
.d{
    font-family: sans-serif;
    color: hsl(216, 15%, 48%);
    font-weight: 400;
    position: absolute;
    margin-left: 1.7rem;
    margin-top: 22rem;
}
img{
    height: 16rem;
    width: 16rem;
    border-radius: 5%;
    margin-top: 2px;
}